# Referenties

Altijd beginnen met 'getting started':

https://pandas.pydata.org/docs/getting_started/index.html#getting-started

Dan een snel overzicht:

https://pandas.pydata.org/docs/user_guide/10min.html

Daarna kijken naar de API beschrijving:

https://pandas.pydata.org/docs/reference/index.html

# Installatie

Run `pip3 install pandas` in the terminal to install the Pandas library.

# Imports

In [2]:
import pandas as pd

import matplotlib.pyplot as plt

# Schets

In [3]:
# Dataframe maken
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [
            22,
            35,
            58
        ],
        "Sex": [
            "male",
            "male",
            "female"
        ],
    }
)

# Standaard print
print(df)
# ...

# Vergelijk met
df
#import pprint as pp
#pp.pprint(df)
# ...

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [4]:
# Data opslaan

df.to_csv('./output/test.csv')


# ...

In [5]:
# Data inlezen
df2 = pd.read_csv('./output/test.csv')
print(df2)
df3 = pd.read_csv('./output/test.csv',index_col=0)
df3 = pd.read_csv('./output/test.csv',index_col=0)
print(df3)
df.to_csv('./output/test.csv',index=False)
df4 = pd.read_csv('./output/test.csv')
print(df4)

   Unnamed: 0                      Name  Age     Sex
0           0   Braund, Mr. Owen Harris   22    male
1           1  Allen, Mr. William Henry   35    male
2           2  Bonnell, Miss. Elizabeth   58  female
                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female
                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [6]:
# Een kolom lezen
df2['Name']

# ...

0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2    Bonnell, Miss. Elizabeth
Name: Name, dtype: object

In [7]:
# De kolomnaam
print(df2.columns)
print()
print(df2.head(1))
print()
print(df2.head(2))
print()
print(df2.tail(1))

# ...

Index(['Unnamed: 0', 'Name', 'Age', 'Sex'], dtype='object')

   Unnamed: 0                     Name  Age   Sex
0           0  Braund, Mr. Owen Harris   22  male

   Unnamed: 0                      Name  Age   Sex
0           0   Braund, Mr. Owen Harris   22  male
1           1  Allen, Mr. William Henry   35  male

   Unnamed: 0                      Name  Age     Sex
2           2  Bonnell, Miss. Elizabeth   58  female

In [8]:
# Een kolom verwijderen
df2.pop('Unnamed: 0')
print(df2)
# ...

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [9]:
# Een rij lezen
#df['Name']
print(df.loc[0])
print(df.iloc[0])
print(df.iloc[0].keys())
print(df.iloc[0]['Name'])
# ...

Name    Braund, Mr. Owen Harris
Age                          22
Sex                        male
Name: 0, dtype: object
Name    Braund, Mr. Owen Harris
Age                          22
Sex                        male
Name: 0, dtype: object
Index(['Name', 'Age', 'Sex'], dtype='object')
Braund, Mr. Owen Harris

In [10]:
# Functie getRow() maken
def get_row(df, inr):
    return df.loc[inr:inr]

# Testen
print(get_row(df,1))
print(type(get_row(df,1)))
print(get_row(df,1).shape)
# ...

                       Name  Age   Sex
1  Allen, Mr. William Henry   35  male
<class 'pandas.core.frame.DataFrame'>
(1, 3)

In [11]:
# Een rij toevoegen
help(df.add)
help(df.insert)
df.loc[3] = ['M. Rotsaert',46, 'male']
df.loc[-1] = ['J. Deugd',55, 'male']
df.loc[-5] = ['Ruud',None, 'male']
df.iloc[-1]
# ...

Help on method add in module pandas.core.ops:

add(other, axis='columns', level=None, fill_value=None) method of pandas.core.frame.DataFrame instance
    Get Addition of dataframe and other, element-wise (binary operator `add`).

    Equivalent to ``dataframe + other``, but with support to substitute a fill_value
    for missing data in one of the inputs. With reverse version, `radd`.

    Among flexible wrappers (`add`, `sub`, `mul`, `div`, `mod`, `pow`) to
    arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

    Parameters
    ----------
    other : scalar, sequence, Series, dict or DataFrame
        Any single or multiple element data structure, or list-like object.
    axis : {0 or 'index', 1 or 'columns'}
        Whether to compare by the index (0 or 'index') or columns.
        (1 or 'columns'). For Series input, axis to match Series index on.
    level : int or label
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : float or None, default None
        Fill existing missing (NaN) values, and any new element needed for
        successful DataFrame alignment, with this value before computation.
        If data in both corresponding DataFrame locations is missing
        the result will be missing.

    Returns
    -------
    DataFrame
        Result of the arithmetic operation.

    See Also
    --------
    DataFrame.add : Add DataFrames.
    DataFrame.sub : Subtract DataFrames.
    DataFrame.mul : Multiply DataFrames.
    DataFrame.div : Divide DataFrames (float division).
    DataFrame.truediv : Divide DataFrames (float division).
    DataFrame.floordiv : Divide DataFrames (integer division).
    DataFrame.mod : Calculate modulo (remainder after division).
    DataFrame.pow : Calculate exponential power.

    Notes
    -----
    Mismatched indices will be unioned together.

    Examples
    --------
    >>> df = pd.DataFrame({'angles': [0, 3, 4],
    ...                    'degrees': [360, 180, 360]},
    ...                   index=['circle', 'triangle', 'rectangle'])
    >>> df
               angles  degrees
    circle          0      360
    triangle        3      180
    rectangle       4      360

    Add a scalar with operator version which return the same
    results.

    >>> df + 1
               angles  degrees
    circle          1      361
    triangle        4      181
    rectangle       5      361

    >>> df.add(1)
               angles  degrees
    circle          1      361
    triangle        4      181
    rectangle       5      361

    Divide by constant with reverse version.

    >>> df.div(10)
               angles  degrees
    circle        0.0     36.0
    triangle      0.3     18.0
    rectangle     0.4     36.0

    >>> df.rdiv(10)
                 angles   degrees
    circle          inf  0.027778
    triangle   3.333333  0.055556
    rectangle  2.500000  0.027778

    Subtract a list and Series by axis with operator version.

    >>> df - [1, 2]
               angles  degrees
    circle         -1      358
    triangle        2      178
    rectangle       3      358

    >>> df.sub([1, 2], axis='columns')
               angles  degrees
    circle         -1      358
    triangle        2      178
    rectangle       3      358

    >>> df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
    ...        axis='index')
               angles  degrees
    circle         -1      359
    triangle        2      179
    rectangle       3      359

    Multiply a dictionary by axis.

    >>> df.mul({'angles': 0, 'degrees': 2})
                angles      degrees
    circle           0          720
    triangle             0      360
    rectangle            0      720

    >>> df.mul({'circle': 0, 'triangle': 2, 'rectangle': 3}, axis='index')
                angles      degrees
    circle               0        0
    triangle             6      360
    rectangle           12     1080

    Multiply a DataFrame of different shape with operator version.

    >>> other = pd.DataFrame({'angles': [0, 3, 4]},
    ...                      index=['circle', 'triangle', 'rectangle'])
    >>> other
               angles
    circle          0
    triangle        3
    rectangle       4

    >>> df * other
               angles  degrees
    circle          0      NaN
    triangle        9      NaN
    rectangle      16      NaN

    >>> df.mul(other, fill_value=0)
               angles  degrees
    circle          0      0.0
    triangle        9      0.0
    rectangle      16      0.0

    Divide by a MultiIndex by level.

    >>> df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
    ...                              'degrees': [360, 180, 360, 360, 540, 720]},
    ...                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
    ...                                    ['circle', 'triangle', 'rectangle',
    ...                                     'square', 'pentagon', 'hexagon']])
    >>> df_multindex
                 angles  degrees
    A circle          0      360
      triangle        3      180
      rectangle       4      360
    B square          4      360
      pentagon        5      540
      hexagon         6      720

    >>> df.div(df_multindex, level=1, fill_value=0)
                 angles  degrees
    A circle        NaN      1.0
      triangle      1.0      1.0
      rectangle     1.0      1.0
    B square        0.0      0.0
      pentagon      0.0      0.0
      hexagon       0.0      0.0

Help on method insert in module pandas.core.frame:

insert(loc: 'int', column: 'Hashable', value: 'Scalar | AnyArrayLike', allow_duplicates: 'bool | lib.NoDefault' = <no_default>) -> 'None' method of pandas.core.frame.DataFrame instance
    Insert column into DataFrame at specified location.

    Raises a ValueError if `column` is already contained in the DataFrame,
    unless `allow_duplicates` is set to True.

    Parameters
    ----------
    loc : int
        Insertion index. Must verify 0 <= loc <= len(columns).
    column : str, number, or hashable object
        Label of the inserted column.
    value : Scalar, Series, or array-like
    allow_duplicates : bool, optional, default lib.no_default

    See Also
    --------
    Index.insert : Insert new item by index.

    Examples
    --------
    >>> df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
    >>> df
       col1  col2
    0     1     3
    1     2     4
    >>> df.insert(1, "newcol", [99, 99])
    >>> df
       col1  newcol  col2
    0     1      99     3
    1     2      99     4
    >>> df.insert(0, "col1", [100, 100], allow_duplicates=True)
    >>> df
       col1  col1  newcol  col2
    0   100     1      99     3
    1   100     2      99     4

    Notice that pandas uses index alignment in case of `value` from type `Series`:

    >>> df.insert(0, "col0", pd.Series([5, 6], index=[1, 2]))
    >>> df
       col0  col1  col1  newcol  col2
    0   NaN   100     1      99     3
    1   5.0   100     2      99     4

Name    Ruud
Age     None
Sex     male
Name: -5, dtype: object

In [12]:
# Functie insertAt(row, index)

def insert_at(df,row,index):
    df.loc[index+0.5]=row
    df = df.sort_index().reset_index(drop=True)
    return df
# ...


# Testen
ind = -50
row = ['Pieter',None, 'male']
df=insert_at(df,row,ind)

ind = 3
row = ['Pieter',None, 'male']
df=insert_at(df,row,ind)
# ...

In [13]:
# Verkennen
print(df.head(4))
print(df.tail(2))
get_row(df,3)

df.loc[3,'Name']='J van der Jeugd'
df.loc[3,'Age']=56
print(df)

                      Name   Age   Sex
0                   Pieter  None  male
1                     Ruud  None  male
2                 J. Deugd    55  male
3  Braund, Mr. Owen Harris    22  male
                       Name Age     Sex
6  Bonnell, Miss. Elizabeth  58  female
7               M. Rotsaert  46    male
                       Name   Age     Sex
0                    Pieter  None    male
1                      Ruud  None    male
2                  J. Deugd    55    male
3           J van der Jeugd    56    male
4                    Pieter  None    male
5  Allen, Mr. William Henry    35    male
6  Bonnell, Miss. Elizabeth    58  female
7               M. Rotsaert    46    male

In [14]:
# Filteren
print(df['Sex']=='male')
print(df[df['Sex']=='male'])
df.keys()
try:
    filt = (df['Age']<40) and (df['Sex']=='male')
except:
    print('moet op een andere manier!!!')
    filt = (df['Age']<40) & (df['Sex']=='male') # bit operator
print(filt)
print(df[filt])
# ...

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
Name: Sex, dtype: bool
                       Name   Age   Sex
0                    Pieter  None  male
1                      Ruud  None  male
2                  J. Deugd    55  male
3           J van der Jeugd    56  male
4                    Pieter  None  male
5  Allen, Mr. William Henry    35  male
7               M. Rotsaert    46  male
moet op een andere manier!!!
0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool
                       Name Age   Sex
5  Allen, Mr. William Henry  35  male

In [15]:
# Groeperen
df.groupby('Sex',group_keys=True).apply(lambda x:x)

# ...

                              Name   Age     Sex
Sex
female 6  Bonnell, Miss. Elizabeth    58  female
male   0                    Pieter  None    male
       1                      Ruud  None    male
       2                  J. Deugd    55    male
       3           J van der Jeugd    56    male
       4                    Pieter  None    male
       5  Allen, Mr. William Henry    35    male
       7               M. Rotsaert    46    male

In [16]:
# Extra: toepassing OOP en het bouwen van je eigen library


#@classmethod
class Mydataframe():
    def __init__(self):
        self.get_row = get_row
        self.insert_at = insert_at

mobj = Mydataframe()
print(mobj.get_row(df,1))


class Mydataframe2():
    def __init__(self,df):
        self.df = df
        self.get_row = self._get_row
        self.insert_at = insert_at\

    def _get_row(self,nr):
        return(get_row(self.df,nr))

mobj = Mydataframe2(df)
mobj.df
print(mobj.get_row(1))
# ...


        
# Testen

# ...

   Name   Age   Sex
1  Ruud  None  male
   Name   Age   Sex
1  Ruud  None  male

In [23]:
class extentdf(pd.DataFrame):
    def __init__(self):
        print('start')

extentdf()

:

:

pandas.core.frame.DataFrame

(0, 0)