<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Practicum Basis Statistiek / SQL </h1>

<h2>Imports<h2>

In [1]:
import os
os.environ['export PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] ='notebook'
os.environ['PYARROW_IGNORE_TIMEZONE'] = '1'

In [2]:
from matplotlib import pyplot as plt
from matplotlib_venn import venn2, venn3
from PIL import Image
from pyspark import SparkContext as sc
from pyspark.sql import SparkSession
import pandas as pd
import pyspark.pandas as ps
import sqlite3

<h2>Extract, Transform and Load</h2>

<h3>Extract</h3>

In [31]:
# https://raw.githubusercontent.com/ajturner/acetate/master/places/Countries-Europe.csv
eurCsvFile = "../csv/countries_europe.csv"
euCsvFile = "../csv/european_union.csv"

 # Create Pandas DataFrames
eurDF = pd.read_csv(eurCsvFile)
euDF = pd.read_csv(euCsvFile)
print(eurDF)
# print(euDF)

    zoom                    name  abbreviation Code  ISO numeric  \
0      3                 Ukraine          Ukr.  UKR          804
1      3                  France           Fr.  FRA          250
2      3                   Spain         Spain  ESP          724
3      3                  Sweden          Swe.  SWE          752
4      3                 Germany          Ger.  DEU          276
5      3                 Finland          Fin.  FIN          246
6      3                  Norway          Nor.  NOR          578
7      3                  Poland          Pol.  POL          616
8      3                   Italy         Italy  ITA          380
9      3          United Kingdom          U.K.  GBR          826
10     3                 Romania          Rom.  ROU          642
11     3                 Belarus         Bela.  BLR          112
12     3                  Greece          Grc.  GRC          300
13     3                Bulgaria          Blg.  BGR          100
14     3                 Iceland          Ice.  ISL          352
15     3                Portugal         Port.  PRT          620
16     3          Czech Republic    Czech Rep.  CZE          203
17     3                 Denmark          Den.  DNK          208
18     4                 Hungary         Hung.  HUN          348
19     4                  Serbia         Serb.  SRB          688
20     4                 Austria          Aus.  AUT           40
21     4                 Ireland          Ire.  IRL          372
22     4               Lithuania         Lith.  LTU          440
23     4                  Latvia          Lat.  LVA          428
24     4                 Croatia          Cro.  HRV          191
25     4  Bosnia and Herzegovina          Bos.  BIH           70
26     4                Slovakia         Slvk.  SVK          703
27     4                 Estonia          Est.  EST          233
28     4             Netherlands         Neth.  NLD          528
29     4             Switzerland        Switz.  CHE          756
30     4                 Moldova          Mol.  MDA          498
31     4                 Belgium          Bel.  BEL           56
32     4                 Albania          Alb.  ALB            8
33     4               Macedonia          Mac.  MKD          807
34     4                Slovenia         Slvn.  SVN          705
35     4              Montenegro         Mont.  MNE          499
36     4                  Cyprus          Cyp.  CYP          196
37     4              Luxembourg          Lux.  LUX          442
38     4               Faroe Is.      Far. Is.  FRO          234
39     4                 Andorra          And.  AND           20
40     4                   Malta         Malta  MLT          470
41     4           Liechtenstein        Liech.  LIE          438
42     4                Guernsey        Guern.  GGY          831
43     4              San Marino       S. Mar.  SMR          674
44     4               Gibraltar          Gib.  GIB          292
45     4                  Monaco        Monaco  MCO          492
46     4            Vatican City  Vatican City  VAT          336

    land area km  population  latitude  longitude continent
0       603700.0    45415596     49.00      32.00        eu
1       547030.0    64768389     46.00       2.00        eu
2       504782.0    46505963     40.00      -4.00        eu
3       449964.0     9045000     62.00      15.00        eu
4       357021.0    82369000     51.50      10.50        eu
5       337030.0     5244000     64.00      26.00        eu
6       324220.0     4907000     62.00      10.00        eu
7       312685.0    38500000     52.00      20.00        eu
8       301230.0    58145000     42.83      12.83        eu
9       244820.0    62348447     54.90      -3.12        eu
10      237500.0    21959278     46.00      25.00        eu
11      207600.0     9685000     53.00      28.00        eu
12      131940.0    11000000     39.00      22.00        eu
13      110910.0     7148785     43.00      25.00        eu
14      103000.0      308910     65.00     -18.00        eu
15       92391.0    10676000     39.50      -8.00        eu
16       78866.0    10476000     49.75      15.00        eu
17       43094.0     5484000     56.00      10.00        eu
18       93030.0     9930000     47.00      20.00        eu
19       88361.0     7344847     44.82      20.46        eu
20       83858.0     8205000     47.33      13.33        eu
21       70280.0     4622917     53.00      -8.00        eu
22       65200.0     3565000     56.00      24.00        eu
23       64589.0     2217969     57.00      25.00        eu
24       56542.0     4491000     45.17      15.50        eu
25       51129.0     4590000     44.25      17.83        eu
26       48845.0     5455000     48.67      19.50        eu
27       45226.0     1291170     59.00      26.00        eu
28       41526.0    16645000     52.50       5.75        eu
29       41290.0     7581000     47.00       8.01        eu
30       33843.0     4324000     47.00      29.00        eu
31       30510.0    10403000     50.83       4.00        eu
32       28748.0     2986952     41.00      20.00        eu
33       25333.0     2061000     41.83      22.00        eu
34       20273.0     2007000     46.25      15.17        eu
35       14026.0      666730     43.50      19.30        eu
36        9250.0     1102677     35.00      33.00      asia
37        2586.0      497538     49.75       6.17        eu
38        1399.0       48228     62.00      -7.00        eu
39         468.0       84000     42.50       1.50        eu
40         316.0      403000     35.92      14.43        eu
41         160.0       35000     47.17       9.53        eu
42          78.0       65228     49.58      -2.33        eu
43          61.2       31477     43.93      12.42        eu
44           6.5       27884     36.13      -5.35        eu
45           2.0       32965     43.73       7.42        eu
46           0.4         921     41.90      12.45        eu

<h3>Transform</h3>

<h3>Exercise 1</h3>
<h4>Gegeven</h4>

In [4]:
benelux = {"Belgium", "The Netherlands", "Luxembourg"}
nordics = {"Denmark", "Finland", "Iceland", "Norway"}
baltics = {"Estonia", "Latvia", "Lithuania"}

<h4>Gevraagd</h4>
<ol>
    <li>Voeg de kolom <u>group</u> toe aan de dataset <u>eurDF</u> met daarin de groep waartoe een land behoort volgens bovenstaande sets</li>
    <li>Ga na of er nog meer landengroepen zijn binnen Europa en voeg die ook toe</li>
    <li>Sla deze verrijkte dataset op in een nieuw CSV bestand</li>
</ol>

<h4>Oplossing</h4>

In [29]:
eurDF.set_index('name')
print(eurDF)

         zoom                    name  abbreviation     Code ISO numeric  \
0           3                 Ukraine          Ukr.      UKR         804
1           3                  France           Fr.      FRA         250
2           3                   Spain         Spain      ESP         724
3           3                  Sweden          Swe.      SWE         752
4           3                 Germany          Ger.      DEU         276
5           3                 Finland          Fin.      FIN         246
6           3                  Norway          Nor.      NOR         578
7           3                  Poland          Pol.      POL         616
8           3                   Italy         Italy      ITA         380
9           3          United Kingdom          U.K.      GBR         826
10          3                 Romania          Rom.      ROU         642
11          3                 Belarus         Bela.      BLR         112
12          3                  Greece          Grc.      GRC         300
13          3                Bulgaria          Blg.      BGR         100
14          3                 Iceland          Ice.      ISL         352
15          3                Portugal         Port.      PRT         620
16          3          Czech Republic    Czech Rep.      CZE         203
17          3                 Denmark          Den.      DNK         208
18          4                 Hungary         Hung.      HUN         348
19          4                  Serbia         Serb.      SRB         688
20          4                 Austria          Aus.      AUT          40
21          4                 Ireland          Ire.      IRL         372
22          4               Lithuania         Lith.      LTU         440
23          4                  Latvia          Lat.      LVA         428
24          4                 Croatia          Cro.      HRV         191
25          4  Bosnia and Herzegovina          Bos.      BIH          70
26          4                Slovakia         Slvk.      SVK         703
27          4                 Estonia          Est.      EST         233
28          4             Netherlands         Neth.      NLD         528
29          4             Switzerland        Switz.      CHE         756
30          4                 Moldova          Mol.      MDA         498
31          4                 Belgium          Bel.      BEL          56
32          4                 Albania          Alb.      ALB           8
33          4               Macedonia          Mac.      MKD         807
34          4                Slovenia         Slvn.      SVN         705
35          4              Montenegro         Mont.      MNE         499
36          4                  Cyprus          Cyp.      CYP         196
37          4              Luxembourg          Lux.      LUX         442
38          4               Faroe Is.      Far. Is.      FRO         234
39          4                 Andorra          And.      AND          20
40          4                   Malta         Malta      MLT         470
41          4           Liechtenstein        Liech.      LIE         438
42          4                Guernsey        Guern.      GGY         831
43          4              San Marino       S. Mar.      SMR         674
44          4               Gibraltar          Gib.      GIB         292
45          4                  Monaco        Monaco      MCO         492
46          4            Vatican City  Vatican City      VAT         336
name  Belgium                 Belgium       Belgium  Belgium     Belgium

     land area km population latitude longitude continent    group
0        603700.0   45415596     49.0      32.0        eu     None
1        547030.0   64768389     46.0       2.0        eu     None
2        504782.0   46505963     40.0      -4.0        eu     None
3        449964.0    9045000     62.0      15.0        eu     None
4        357021.0   82369000     51.5      10.5        eu     None
5        337030.0    5244000     64.0      26.0        eu     None
6        324220.0    4907000     62.0      10.0        eu     None
7        312685.0   38500000     52.0      20.0        eu     None
8        301230.0   58145000    42.83     12.83        eu     None
9        244820.0   62348447     54.9     -3.12        eu     None
10       237500.0   21959278     46.0      25.0        eu     None
11       207600.0    9685000     53.0      28.0        eu     None
12       131940.0   11000000     39.0      22.0        eu     None
13       110910.0    7148785     43.0      25.0        eu     None
14       103000.0     308910     65.0     -18.0        eu     None
15        92391.0   10676000     39.5      -8.0        eu     None
16        78866.0   10476000    49.75      15.0        eu     None
17        43094.0    5484000     56.0      10.0        eu     None
18        93030.0    9930000     47.0      20.0        eu     None
19        88361.0    7344847    44.82     20.46        eu     None
20        83858.0    8205000    47.33     13.33        eu     None
21        70280.0    4622917     53.0      -8.0        eu     None
22        65200.0    3565000     56.0      24.0        eu     None
23        64589.0    2217969     57.0      25.0        eu     None
24        56542.0    4491000    45.17      15.5        eu     None
25        51129.0    4590000    44.25     17.83        eu     None
26        48845.0    5455000    48.67      19.5        eu     None
27        45226.0    1291170     59.0      26.0        eu     None
28        41526.0   16645000     52.5      5.75        eu     None
29        41290.0    7581000     47.0      8.01        eu     None
30        33843.0    4324000     47.0      29.0        eu     None
31        30510.0   10403000    50.83       4.0        eu     None
32        28748.0    2986952     41.0      20.0        eu     None
33        25333.0    2061000    41.83      22.0        eu     None
34        20273.0    2007000    46.25     15.17        eu     None
35        14026.0     666730     43.5      19.3        eu     None
36         9250.0    1102677     35.0      33.0      asia     None
37         2586.0     497538    49.75      6.17        eu     None
38         1399.0      48228     62.0      -7.0        eu     None
39          468.0      84000     42.5       1.5        eu     None
40          316.0     403000    35.92     14.43        eu     None
41          160.0      35000    47.17      9.53        eu     None
42           78.0      65228    49.58     -2.33        eu     None
43           61.2      31477    43.93     12.42        eu     None
44            6.5      27884    36.13     -5.35        eu     None
45            2.0      32965    43.73      7.42        eu     None
46            0.4        921     41.9     12.45        eu     None
name      Belgium    Belgium  Belgium   Belgium   Belgium  Belgium

In [27]:
eurDF['name'].at['Belgium']=0
print(eurDF['name'])
print()

0                      Ukraine
1                       France
2                        Spain
3                       Sweden
4                      Germany
5                      Finland
6                       Norway
7                       Poland
8                        Italy
9               United Kingdom
10                     Romania
11                     Belarus
12                      Greece
13                    Bulgaria
14                     Iceland
15                    Portugal
16              Czech Republic
17                     Denmark
18                     Hungary
19                      Serbia
20                     Austria
21                     Ireland
22                   Lithuania
23                      Latvia
24                     Croatia
25      Bosnia and Herzegovina
26                    Slovakia
27                     Estonia
28                 Netherlands
29                 Switzerland
30                     Moldova
31                     Belgium
32                     Albania
33                   Macedonia
34                    Slovenia
35                  Montenegro
36                      Cyprus
37                  Luxembourg
38                   Faroe Is.
39                     Andorra
40                       Malta
41               Liechtenstein
42                    Guernsey
43                  San Marino
44                   Gibraltar
45                      Monaco
46                Vatican City
name                   Belgium
Name: name, dtype: object

In [28]:
eurDF.loc['name']='Belgium'
x= eurDF[eurDF['name']=='Belgium']
x['group']='benelux'
print(eurDF.index)

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,     10,     11,     12,     13,     14,     15,     16,     17,
           18,     19,     20,     21,     22,     23,     24,     25,     26,
           27,     28,     29,     30,     31,     32,     33,     34,     35,
           36,     37,     38,     39,     40,     41,     42,     43,     44,
           45,     46, 'name'],
      dtype='object')

C:\Users\marcr\AppData\Local\Temp\ipykernel_28932\2827067655.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['group']='benelux'

In [ ]:
# Oplossing
i=eurDF.loc['name')

#print(eurDF.keys())
eurDF.name =='Belgium'.index(True)
#regionstr in ['benelux','nordics','baltics']:
#    regmem= eval(a) 
    

#eurDF

ValueError: No axis named Belgium for object type DataFrame

<h2>SQLite</h2>

<h3>Load</h3>

<p>Maak een lege database</p>

In [ ]:
!sqlite3 ../db/europe.db "VACUUM;"

In [ ]:
# Connect to SQLite database
dbConnection = sqlite3.connect('../db/europe.db')

<p>Maak tabellen o.b.v. de dataset</p>

In [ ]:
eurDF.to_sql('countries', dbConnection, if_exists='replace', index = False)
euDF.to_sql('eu', dbConnection, if_exists='replace', index = False)

In [ ]:
dbCursor = dbConnection.cursor()

query = """
    SELECT *
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
    LIMIT 10
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

In [ ]:
countriesQuery = """
    SELECT *
    FROM countries
    LIMIT 10
"""

In [ ]:
result = dbCursor.execute(countriesQuery).fetchall()
print(result)

<h2>Afhankelijke en onafhankelijke variabelen</h2>

<h3>Overlappende uitkomsten</h3>

In [ ]:
eu = {"Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czechia", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "The Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden"}

In [ ]:
venn3([benelux, baltics, eu], ('Benelux', 'Baltics', 'EU'))

<h3>Exercise 2</h3>
<p>
    Gebruik SQL queries voor het verkrijgen van
<ol>
    <li>P(Nordics); de kans dat een land onderdeel is van de Nordics</li>
    <li><u>P(EU)</u>; de kans dat een Europees land lid is van de Europese Unie</li>
    <li><u>P(EU and Nordics)</u>; de kans dat een land onderdeel is van de Norics en lid is van de EU</li>
</ol>
</p>

In [ ]:
# Oplossing

In [ ]:
# Close connection to SQLite database
dbConnection.close()